<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>

<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">VALUE</p>
<p th:text="${'ID: ' + person.getUserId()}">VALUE</p>

<form th:method="GET" th:action="@{/people/{user_id}/edit(user_id=${person.getUserId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/people/{user_id}(user_id=${person.getUserId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>