<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>

<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</p>
<p th:text="${'ID: ' + book.getBookId()}">VALUE</p>

<form th:method="GET" th:action="@{/books/{book_id}/edit(book_id=${book.getBookId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/books/{book_id}/edit(book_id=${book.getBookId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>